.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f7f7f7;
}

a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
}

a:hover {
  margin: 10px solid red;
}

.bicicleta {
  width: 200px;
}
